/****** PAGE : ourson-calinou ***********/
h1{
    font-size: 35px;
    color: rgb(82, 80, 80);
    text-align: center;
    margin-top: 30px;
}

.container{
    display: flex;
    flex-direction: row;
}

#teddie {
    width: 1000px;
    height: auto;
}

h2{ 
    font-size: 17px;
}

#section2 {
    margin-left: 20px;
    margin-bottom: 150px;
}

article{
    text-align: justify;
}

label{
    width: 30px;
}


/*MEDIA QUERIES FOOTER*/
@media all and (max-width: 992px) {
    #product-page{
        display: flex;
        flex-direction: column;  
    }
    .form-inline {
        display: flex;
        flex-direction: column; 
    }
}